bleach==6.0.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.0.1
docutils==0.19
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.10.2
jaraco-classes==3.2.3
keyring==23.13.1
markdown-it-py==2.1.0
mdurl==0.1.2
more-itertools==9.0.0
packaging==23.0
pkginfo==1.9.6
pygments==2.14.0
pyparsing==3.0.9
readme-renderer==37.3
requests==2.28.2
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==13.2.0
six==1.16.0
tqdm==4.64.1
twine==4.0.2
typing-extensions==4.4.0
urllib3==1.26.14
webencodings==0.5.1
wheel==0.38.4
zipp==3.11.0
setuptools==66.1.1